<div id="about" class="p-24" fxLayout="row wrap">

  <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

      <div class="profile-box info-box general" fxLayout="column">

          <header class="accent">
              <div class="title">Información Operativa</div>
          </header>

          <div class="content">           
              <div class="info-line">
                  <div class="title">Usuario</div>
                  <div class="info">{{info.datosSistema.usuario}}</div>
              </div>

              <div class="info-line">
                <div class="title">Perfiles</div>
                <div class="info">{{info.datosSistema.perfiles}}</div>
              </div>

              <div class="info-line">
                <div class="title">E-mail (laboral)</div>
                <div class="info">{{info.datosSistema.correoLaboral}}</div>
              </div>

              <div class="info-line">
                <div class="title">Telefono (laboral)</div>
                <div class="info">{{info.datosSistema.telefonoLaboral}}</div>
              </div>
          </div>

        </div>

    </div>

</div>
