<div class="sidebar-content">
    <div class="card">
        <!-- SIDEBAR HEADER -->
        <!-- <div class="header p-24" fxLayout="row" fxLayoutAlign="start center"> -->
            <!-- USER -->
            <!-- <img [src]="user.avatar" class="avatar mr-16" [alt]="user.name"/> -->
            <!-- <span class="h5">{{user.name}}</span> -->
            <!-- / USER -->
        <!-- </div> -->
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" > <!-- fusePerfectScrollbar -->
            <div class="nav material2">
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active accent':filterBy ==='all'}">
                        <span class="title">Toda la <strong>Nomina</strong></span>
                    </a>
                </div>

                <mat-divider class="first"></mat-divider>

                <div class="nav-item" aria-label="FC contacted" (click)="changeFilter('FC')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='FC'}">
                        <div class="title">Fava<strong>CARD</strong></div>
                    </a>
                </div>

                <div class="nav-item" aria-label="FN" (click)="changeFilter('FN')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='FN'}">
                        <div class="title">Fava<strong>NET</strong></div>
                    </a>
                </div>

                <div class="nav-item" aria-label="FH" (click)="changeFilter('FH')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='FH'}">
                        <div class="title">Fava <strong>HNOS</strong></div>
                    </a>
                </div>

                <mat-divider></mat-divider>

                <div class="nav-item" aria-label="DTO" (click)="changeFilter('DTO')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='DTO'}">
                        <div class="title">Responsables <strong>DTO</strong></div>
                    </a>
                </div>

                <div class="nav-item" aria-label="SUC" (click)="changeFilter('SUC')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='SUC'}">
                        <div class="title">Responsables <strong>SUC</strong></div>
                    </a>
                </div>

                <div class="nav-item" aria-label="NOV" (click)="changeFilter('NOV')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='NOV'}">
                        <div class="title">Responsables <strong>NOV</strong></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="sincronizar" aria-label="isCheck">
    <mat-checkbox [(ngModel)]="isCheck" (ngModelChange)="changeCheck()">
        <div class="title">Sincronizar</div>
    </mat-checkbox>
</div>





<!-- / SIDEBAR CONTENT -->
