<div class="dialog-content-wrapper"> 
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
         
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row class="toolbar-bottom pb-16" fxLayout="column" fxLayoutAlign="center center">
            <span class="title dialog-title">{{departamento.departamento}}</span>
            <span class="title dialog-title">({{departamento.tipo}})</span>
            
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="DepartamentoForm">

            <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Representante</mat-label>
                    <mat-select formControlName="responsable" name="responsable" required>                   
                        <mat-option *ngFor="let p of candidatos" [value]="p">
                            <img class="img-list avatar" [src]=p.avatar />
                            <p class="p-list">{{p.lastName}}, {{p.name}} ({{p.company}}-{{p.docket}})</p>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </form> 

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">


        <!-- debug -->
        <button  mat-button color="accent" class="mr-8" 
            *ngIf="false"
            (click)="verForm(DepartamentoForm)"  aria-label="ver">
            ver
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                color="accent"
                class="save-button"
                (click)="matDialogRef.close(['save',DepartamentoForm])"
                [disabled]="DepartamentoForm.invalid"
                aria-label="SAVE">
            Guardar
        </button>

    </div>
</div>
