@import "src/@fuse/scss/fuse";

.editar-dep-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 400px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;

        form {
            #switch {
                margin: .25em 0;
                padding-bottom: 1.34375em;
            }
        }

        .example-month-picker .mat-calendar-period-button {
            pointer-events: none;
        }

        .example-month-picker .mat-calendar-arrow {
            display: none;
        }
    }
}

span {
    &.mat-option-text {

        .img-list {
            vertical-align: middle;
        }
        
        p {
            &.p-list {
                margin: 0;
                display: inline-block;
            }        
        }

    }
}