<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
  
    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <img class="avatar" *ngIf="contact.avatar" [alt]="contact.name" [src]="contact.avatar"/>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.name}} {{contact.lastName}}</p>
        </mat-cell>
    </ng-container>

    <!-- Workplace Column -->
    <ng-container matColumnDef="workplace">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Lugar de Trabajo</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p class="Workplace text-truncate">
                {{contact.workplace}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Departament Column -->
    <ng-container matColumnDef="departament">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Departamento</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class="Departament text-truncate">
                {{contact.departament}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Compañia</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class="company text-truncate">
                {{contact.company}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Email Column-->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef >Email</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="email text-truncate">
                {{contact.email}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Docket Column -->
    <ng-container matColumnDef="docket">
        <mat-header-cell *matHeaderCellDef>Legajo</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="Docket text-truncate">
               {{contact.company}}-{{contact.docket}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Novedades Column -->
    <ng-container matColumnDef="novedades">
        <mat-header-cell *matHeaderCellDef>Novedades</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="novedades text-truncate" *ngIf="contact.novedades" >
                {{contact.novedades}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Concepto Column -->
    <ng-container matColumnDef="concepto" *ngIf="invocador !== 'novedades'">
        <mat-header-cell *matHeaderCellDef>Concepto</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="concepto text-truncate" *ngIf="contact.novedad">
                {{contact.novedad}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Concepto Column -->
    <ng-container matColumnDef="concepto" *ngIf="invocador === 'novedades'">
        <mat-header-cell *matHeaderCellDef>Concepto</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="concepto text-truncate" >
                Premio de Ventas
            </p>
        </mat-cell>
    </ng-container>


    <!-- Monto Column -->
    <ng-container matColumnDef="monto">
        <mat-header-cell *matHeaderCellDef>Monto</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="monto text-truncate" *ngIf="contact.monto">         
                {{ contact.monto }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status"> 
        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
        <mat-cell *matCellDef="let contact" >
            <p class="status text-truncate {{contact.status}}">
                {{contact.status}}
            </p>
        </mat-cell>
    </ng-container>
    
    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="Ver Perfil" (click)="goPerfil(contact)" *ngIf="invocador === 'equipo'">                    
                        <mat-icon>account_circle</mat-icon>
                        <span>Ver Perfil</span>
                    </button>
                    <button mat-menu-item aria-label="add-novedades" (click)="editContact(contact)" *ngIf="invocador === 'equipo'">
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>Novedades</span>
                    </button>

                    <button mat-menu-item aria-label="add-novedad" (click)="test()" *ngIf="invocador === 'novedades'">
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>Novedad</span>
                    </button>

                    <button mat-menu-item aria-label="add-novedad" (click)="test()" *ngIf="invocador === 'novedades'">
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>Importar</span>
                    </button>

                    <button mat-menu-item aria-label="add-novedades" (click)="test()" *ngIf="false">
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>TEST</span>
                    </button>
                </mat-menu>                
            </div>
        </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
            
             [ngClass]="{'accent-50':checkboxes[contact.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>

    <!-- (click)="editContact(contact)" -->
</mat-table>

