@import "src/@fuse/scss/fuse";

contacts-contact-list {

    .botones {
        margin: 5px 0 25px 5px;
        float: right;

        button {
            margin-right: 5px;

            span {
                &.mat-button-wrapper {
                    span {
                        margin-left: 5px;
                    }
                }
            }
            
        }
    }

    .lista {
        display: flex;
        flex: 1 1 auto;
        width: 100%;

        .mat-table {
            width: 100%;
            background: transparent;
            box-shadow: none;

            mat-header-row {
                padding: 8px;

                mat-header-cell{
                    font-size: 15px;
                    font-weight: bold;

                    &:last-of-type {
                        padding-right: 18px;
                    }
                }
            }
            .mat-column-checkbox {
                flex: 0 1 64px;
                padding-left: 18px;
            }

            .mat-column-avatar {
                flex: 0 1 78px;
                padding-left: 18px;
                padding-right: 18px;
            }

            .mat-column-buttons {
                flex: 0 1 80px;
            }

            .mat-header-cell, .mat-cell {
                &.mat-column-novedades {
                    flex: 0 1 10%;
                }
            }


            .mat-row {
                position: relative;
                cursor: pointer;
                padding: 8px;

                .mat-cell {
                    min-width: 0;

                    &.mat-column-detail-button {
                        flex: 0 1 auto;
                        padding: 0 24px 0 0;

                        @include media-breakpoint('gt-md') {
                            display: none;
                        }
                    }

                    p {
                        &.Docket {
                            font-weight: bold;
                        }
                        &.status {
                            padding: 4px;
                            font-weight: bold;
                            border-radius: 5px;
                            color: white;
                            text-transform: uppercase;

                            &.modificado, &.Pendiente {
                                background-color: #ff9800;
                            }

                            &.nuevo, &.Verificado {
                                background-color: #4caf50;
                            }

                            &.eliminado {
                                background-color: #b71c1c;
                            }
                        }
                        &.novedades {
                            background-color: #e53935;
                            color: white;
                            padding: 5px 10px;
                            border-radius: 50%;
                            font-weight: bold;
                        }
                    }

                    &:last-of-type {
                        padding-right: 18px;
                        justify-content: center;
                    }
                }
            }
        }
    }
    
}

#add-contact-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;

    @include media-breakpoint('xs') {
        position: sticky;
        top: calc(100vh - 120px);
        bottom: auto;
    }
}