<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">

    <!-- Checkbox Column fxShow fxHide.lt-sm -->
    <ng-container matColumnDef="checkbox" >
        <mat-header-cell *matHeaderCellDef fxShow fxHide.lt-sm></mat-header-cell>
        <mat-cell *matCellDef="let contact" fxShow fxHide.lt-sm>
            <mat-checkbox [(ngModel)]="checkboxes[contact.id]" (ngModelChange)="onSelectedChange(contact.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Avatar Column  fxShow fxHide.lt-sm-->
    <ng-container matColumnDef="avatar"  >
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let gasto">
            <img class="avatar" *ngIf="gasto.contacto_avatar" [alt]="gasto.contacto_corto"
                 [src]="gasto.contacto_avatar"/>
        </mat-cell>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let gasto">
            <p class="text-truncate font-weight-600">{{gasto.descripcion}}</p>
        </mat-cell>
    </ng-container>

    <!-- Proveedor Column -->
    <ng-container matColumnDef="proveedor">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Proveedor</mat-header-cell>
        <mat-cell *matCellDef="let gasto" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{gasto.contacto_corto}}
            </p>
        </mat-cell>
    </ng-container>

        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let gasto" fxHide fxShow.gt-md>
                <p class="phone text-truncate">
                    {{gasto.fecha | date:'dd/MM/yyyy' }}
                </p>
            </mat-cell>
        </ng-container>

    <!-- >Comprobante Column -->
    <ng-container matColumnDef="comprobante">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>comprobante</mat-header-cell>
        <mat-cell *matCellDef="let gasto" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{gasto.nombre}} - {{gasto.nro| slice:9:13}}
            </p>
        </mat-cell>
    </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Estado</mat-header-cell>
            <mat-cell *matCellDef="let gasto" fxHide fxShow.gt-md>
                <p class="phone text-truncate">
                    {{gasto.pago_estado}}
                </p>
            </mat-cell>
        </ng-container>

    <!-- Importe Column -->
    <ng-container matColumnDef="importe">
        <mat-header-cell *matHeaderCellDef >Importe</mat-header-cell>
        <mat-cell *matCellDef="let gasto" >
            <p class="text-truncate" style ="text-align: right" >
                <b>{{ gasto.importe | currency }}</b>
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
     <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <div fxFlex="row" fxLayoutAlign="end center">
<!--                 <button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact.id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="user.starred.includes(contact.id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!user.starred.includes(contact.id)">star_border</mat-icon>
                </button> -->

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteContact(contact)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" fxHide fxShow.gt-sm></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
             (click)="editContact(contact)"
             [ngClass]="{'accent-50':checkboxes[contact.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

