<div id="profile" class="page-layout simple tabbed">

  <!-- HEADER -->
  <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
       fxLayoutAlign.gt-sm="space-between end">

      <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
           fxLayoutAlign.gt-sm="start center">
          <img class="profile-image avatar huge" src="assets/images/perfil/jorgeboria.jpeg"
               [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
              Jorge Boria
          </div>
      </div>

      <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
          <button mat-raised-button color="accent" aria-label="Editar">Editar</button>
          <button mat-raised-button color="error" aria-label="Eliminar">Eliminar</button>
      </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

      <mat-tab-group dynamicHeight="true"> 

          <mat-tab label="Datos Básicos">
              <perfil-info></perfil-info>
          </mat-tab>

          <mat-tab label="Legajo">
            <perfil-info-leg></perfil-info-leg>
            <!--perfil-preferencias></perfil-preferencias-->
          </mat-tab>

          <mat-tab label="Seguridad y Acceso">
            <perfil-info-seg></perfil-info-seg>
            <!--perfil-imagenes></perfil-imagenes-->
          </mat-tab>

      </mat-tab-group>

  </div>
  <!-- / CONTENT -->

</div>