<div class="lista">
    <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

        <!-- Departamento Column -->
        <ng-container matColumnDef="departamento">
            <mat-header-cell *matHeaderCellDef>Departamento</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600">{{data.departamento}}</p>
            </mat-cell>
        </ng-container>

        <!-- Responsable Column -->
        <ng-container matColumnDef="responsable">
            <mat-header-cell *matHeaderCellDef>Responsable</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600">{{data.responsable}}</p>
            </mat-cell>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600">{{data.tipo}}</p>
            </mat-cell>
        </ng-container>


        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let data">

                <button mat-icon-button color="primary" aria-label="editar" class="editar" (click)="editResponsable(data)">
                    <mat-icon>create</mat-icon>
                </button>         
              
            </mat-cell>
        </ng-container>
      

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let data; columns: displayedColumns;" class="data"
              [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
        <!-- matRipple -->
    </mat-table>
</div>


