<div class="lista">
    <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

        <!-- Codigo Column -->
        <ng-container matColumnDef="cod">
            <mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600">{{data.cod}}</p>
            </mat-cell>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600">{{data.nombre}}</p>
            </mat-cell>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600">{{data.tipo}}</p>
            </mat-cell>
        </ng-container>

        <!-- Origen Column -->
        <ng-container matColumnDef="origen">
            <mat-header-cell *matHeaderCellDef>Origen</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600">{{data.origen}}</p>
            </mat-cell>
        </ng-container>

        <!-- Responsable Principal Column -->
        <ng-container matColumnDef="responsableR">
            <mat-header-cell *matHeaderCellDef>Responsable</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600"
                    *ngIf="data.legajoR == 'Ninguno' || data.legajoR == ''">
                    Ninguno 
                </p>

                <p class="text-truncate font-weight-600" 
                    *ngIf="data.legajoR !== 'Ninguno' && data.legajoR !== ''">
                    {{data.legajoR}}, {{data.responsableR}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Responsable Secundario Column -->
        <ng-container matColumnDef="responsableS">
            <mat-header-cell *matHeaderCellDef>Responsable Secundario</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600" 
                    *ngIf="data.legajoS == 'Ninguno' || data.legajoS == ''">
                    Ninguno
                </p>
                
                <p class="text-truncate font-weight-600" 
                    *ngIf="data.legajoS !== 'Ninguno' && data.legajoS !== ''">
                    {{data.legajoS}}, {{data.responsableS}}
                </p>
            </mat-cell>
        </ng-container>
      

        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let data">

                <button mat-icon-button color="primary" 
                        aria-label="editar"
                        class="editar"
                        (click)="editResponsables(data)"
                        *ngIf="invocador == 'origenes'">
                    <mat-icon>create</mat-icon>
                </button>         
              
                <button mat-icon-button color="primary" 
                        aria-label="editar" 
                        class="editar" 
                        (click)="test()"
                        *ngIf="invocador == 'conceptos'">
                    <mat-icon>create</mat-icon>
                </button>

            </mat-cell>
        </ng-container>
      

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let data; columns: displayedColumns;" class="data"
              [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
        <!-- matRipple -->
    </mat-table>
</div>


