<div id="about" class="p-24" fxLayout="row wrap">

  <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

      <div class="profile-box info-box general" fxLayout="column">

          <header class="accent">
              <div class="title">Información Salarial</div>
          </header>

          <div class="content">
              <div class="info-line">
                  <div class="title">Nombre Completo*</div>
                  <div class="info">{{info.nombre}}</div>
              </div>

              <div class="info-line">
                  <div class="title">Legajo</div>
                  <div class="info">0056</div>
              </div>

              <div class="info-line">
                <div class="title">Sector</div>
                <div class="info">Tesoreria Cajas</div>
              </div>

              <div class="info-line">
                <div class="title">Lugar de Trabajo</div>
                <div class="info">Mar del Plata</div>
              </div>

          </div>

        </div>

    </div>

</div>
