<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
                <img [src]="contact.file_link" class="avatar contact-avatar huge m-0" 
                [alt]="contact.file_link"/>
               
                <button mat-icon-button (click)="fileInput.click()">
                    <mat-icon>edit</mat-icon>
                    <input #fileInput type="file" (change)="uploadImage($event)" name="avatar" style="display:none;"/>
                </button>

            <div class="contact-name mt-8" >{{contactName | titlecase}}</div> 
        </mat-toolbar-row> 
    </mat-toolbar> 

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="contactForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Codigo</mat-label>
                        <input name="cod" formControlName="cod" matInput>

                    </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nombre Corto</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="nombre_corto" (input)="NameOnChanges($event.target.value)" formControlName="nombre_corto" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nombre Completo</mat-label>
                    <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                    <input name="nombre" formControlName="nombre" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Correo</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="correo" formControlName="correo" matInput type="email">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Telefono</mat-label>
                    <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    <input formControlName="telefono" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Localidad</mat-label>
                    <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                    <input name="localidad" formControlName="localidad" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Domicilio</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="domicilio" formControlName="domicilio" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>IVA</mat-label>
                        <mat-select name="cond_iva" formControlName="cond_iva" [(value)]="contact.cond_iva" >
                                <mat-option *ngFor="let state of estados" [value]="state.value" >
                                  {{state.viewValue}}
                                </mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>CUIT</mat-label>
                    <input name="cuit" formControlName="cuit" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Genero</mat-label>
                    <mat-select name="genero" formControlName="genero" [(value)]="contact.genero" >
                            <mat-option *ngFor="let genero of generos" [value]="genero.value" >
                              {{genero.viewValue}}
                            </mat-option>
                    </mat-select>
                </mat-form-field>
        </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Notas</mat-label>
                    <textarea name="notas" formControlName="notas" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div> 

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',contactForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(contactForm)"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',contactForm])"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
