<div class="dialog-content-wrapper"> 
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"
                 [alt]="contact.name"/>
            <div class="contact-name mt-8">{{contact.name}} {{contact.lastName}}</div>
            <div class="contact-name mt-8">{{contact.company}}-{{contact.docket}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm">


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="DatePicker" name="date" formControlName="date" required>                    
                    <mat-datepicker-toggle matSuffix [for]="DatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #DatePicker></mat-datepicker>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Conceptos</mat-label>
                    <mat-select (selectionChange)="manojoSH($event)" formControlName="concepto" name="concepto" required>
                        <!-- [(value)]="selectedConcep" -->
                        <mat-option *ngFor="let c of Conceptos" [value]="c.value">
                            
                            {{c.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="hideshow">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Cantidad ({{unidad}})</mat-label>
                    <!-- <mat-icon matSuffix class="secondary-text">sim_card</mat-icon> -->
                    <input name="cantidad" matInput formControlName="cantidad"  required>
                    <!-- formControlName="cantidad" -->
                </mat-form-field>
            </div>          

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                color="accent"
                class="mr-8"
                (click)="matDialogRef.close(['delete',contactForm])"
                aria-label="Delete"
                matTooltip="Delete">
            Eliminar
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                color="accent"
                class="save-button"
                type="submit"
                (click)="onSubmit()"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            Agregar
        </button>
<!-- (click)="matDialogRef.close(contactForm)" -->
        <button  mat-button color="accent" class="mr-8" 
            *ngIf="false"
            (click)="verForm(contactForm)"  aria-label="jojo">
            ver
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                color="accent"
                class="save-button"
                (click)="matDialogRef.close(['save',contactForm])"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            Guardar
        </button>

    </div>
</div>
