<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="gasto.contacto_avatar" class="avatar contact-avatar huge m-0"
                 [alt]="gasto.contacto_corto"/>
            <div class="contact-name mt-8">{{gasto.contacto_corto}} / {{gasto.descripcion}} </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="gastoForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Proveedor</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="proveedor" formControlName="contacto_corto" matInput required>
                </mat-form-field>
            </div>

             <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Descripcion</mat-label>
                    <mat-icon matSuffix class="secondary-text">subject</mat-icon>
                    <input name="descripcion" formControlName="descripcion" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Comprobante</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <input name="comprobante" formControlName="comprobante" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Numero</mat-label>
                        <mat-icon matSuffix class="secondary-text">star</mat-icon>
                        <input name="nro" formControlName="nro" matInput>
                    </mat-form-field>
                </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="fechaDatePicker" name="fecha" formControlName="fecha">
                    <mat-datepicker-toggle matSuffix [for]="fechaDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #fechaDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Estado</mat-label>
                    <mat-select>
                            <mat-option *ngFor="let state of estados" [value]="state.value">
                              {{state.viewValue}}
                            </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Importe</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_balance_wallet</mat-icon>
                    <input name="importe" formControlName="importe" matInput>
                </mat-form-field>
            </div>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',gastoForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(gastoForm)"
                [disabled]="gastoForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',gastoForm])"
                [disabled]="gastoForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
