<div id="timeline" class="p-24" fxLayout="row wrap">

    <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="35">

        <div class="profile-box latest-activity" fxLayout="column">

            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Preferencias</div>
                <div class="more secondary-text">Ver Todo</div>
            </header>

            <div class="content" fxLayout="row wrap">
                <div class="activities">

                    <div class="activity" fxLayout="row" fxLayoutAlign="start start">
                        <mat-icon mat-list-icon>settings_applications</mat-icon>

                        <div >
                                <span class="username">Modo de Uso:</span>
                                <span class="message"> Personal</span>
                        </div>
                    </div>

                    <div class="activity" fxLayout="row" fxLayoutAlign="start start">
                            <mat-icon mat-list-icon>settings_applications</mat-icon>

                        <div fxLayout="column">
                            <div>
                                <span class="username">Factura Electronica:</span>
                                <span class="message"> NO</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>